{% include head.html %}
{% include header.html %}

    <!--====== PAGE TITLE  PART START ======-->
    
    <div class="page-title-area">
        <div class="section__bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Blog</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">pricing</li>
                            </ol>
                        </nav>
                        <div class="scroll-to-down">
                            <a href="#portfolio-scroll"><i class="fal fa-arrow-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== PAGE TITLE  PART ENDS ======-->

    <!--====== ARTICAL PART START ======-->
    
    <section class="article-page-area pt-70 pb-100">
        <div class="container">
            <div class="row justify-content-center">

              {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
    <div class="col-lg-4 col-md-6 col-sm-9">
      <div class="article-item mt-30">
          <div class="article-top text-center">
              <a href="{{ post.url 0 }}"><span>{{ post.title }}</span></a>
          </div>
          <div class="article-thumb">
              <a href="#"><img src="{{ post.image }}" alt=""></a>
              <div class="date">
                  <h5 class="title">{{ post.date | date_to_string }}</h5>
                  <span>JUN</span>
              </div>
          </div>
          <div class="article-content pl-25 pr-25 pt-25">
              <p>{{ post.excerpt | strip_newlines | truncate: 180 }}</p>
              <a href="{{ post.url }}">READ MORE</a>
          </div>
      </div>
  </div>
    {% endfor %}

    <div class="col-lg-4 col-md-6 col-sm-9">
      <div class="article-item mt-30">
          <div class="article-top text-center">
              <a href="#"><span>The Clear Differene Between Cold Brew & Iced Coffee</span></a>
          </div>
          <div class="article-thumb">
              <a href="#"><img src="assets/images/article-1.jpg" alt=""></a>
              <div class="date">
                  <h5 class="title">25</h5>
                  <span>JUN</span>
              </div>
          </div>
          <div class="article-content pl-25 pr-25 pt-25">
              <p>DNP Installations can carry out all maintenance on phone and data and phone points in...</p>
              <a href="#">READ MORE</a>
          </div>
      </div>
  </div>
            </div>
        </div>
    </section>
    
    <!--====== ARTICAL PART ENDS ======-->

    {% include footer.html %}

    <!--====== BACK TO TOP START ======-->

    <a class="back-to-top">
        <i class="fal fa-angle-up"></i>
    </a>

    <!--====== BACK TO TOP ENDS ======-->






    
    
    
    <!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    
    <!--====== appear js ======-->
    <script src="assets/js/jquery.appear.min.js"></script>
    
    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>
    
    <!--====== wow js ======-->
    <script src="assets/js/wow.js"></script>
    
    <!--====== Isotope js ======-->
    <script src="assets/js/isotope.pkgd.min.js"></script>
    
    <!--====== Images Loaded js ======-->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>

</body>

</html>
