<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>{{ page.title }}</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">

    <!--====== animate css ======-->
    <link rel="stylesheet" href="/assets/css/animate.min.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/assets/css/slick.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/assets/css/style.css">

    <style>
        .post-content blockquote {
            position: relative;
            padding-left: 20px;
            font-size: 18px;
            padding-right: 7px;
            margin-top: 16px;

        }

        .post-content blockquote p {
            padding: 10px 0 10px 10px;
            border-radius: 5px;
            background-color: #f5f5f5;
            font-size: 17px;
        }

        @media (max-width: 767px) {
            .post-content blockquote {
                font-size: 15px;
                padding-left: 20px;
                padding-right: 0;
            }
        }
        .post-content img {
            max-width: 100%;
        }
        .post-content ul {
            padding-top: 0px;
        }
        .post-content blockquote::before {
            position: absolute;
            content: "";
            content: "";
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 5px;
            height: 100%;
            border-radius: 2px;
            background: #c22330;
        }

        table {
            border-spacing: 1;
            border-collapse: collapse;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            margin: 0 auto;
            position: relative;
            margin-top: 20px;
        }

        table * {
            position: relative
        }

        table td,
        table th {
            padding-left: 8px;

        }

        table thead tr {
            height: 60px;
            background: #36304a;
            color: #fff !important;
        }

        table tbody tr {
            height: 50px
        }

        table tbody tr:last-child {
            border: 0
        }

        table td,
        table th {
            text-align: left
        }



        tbody tr:nth-child(even) {
            background-color: #f5f5f5
        }

        tbody tr {
            font-size: 15px;
            color: gray;
            line-height: 1.2;
            font-weight: unset
        }

        table img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    </style>


</head>

<body class="bg-white">

    <!-- LOADER -->
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- END LOADER -->

    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navigation">
                            <nav class="navbar navbar-expand-lg navbar-light ">

                                <a class="navbar-brand" href="/index.html"><img src="/assets/images/logo.png"
                                        alt=""></a> <!-- logo -->

                                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="toggler-icon"></span>
                                            <span class="toggler-icon"></span>
                                            <span class="toggler-icon"></span>
                                        </button> <!-- navbar toggler -->
        
                                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                            <ul class="navbar-nav ml-auto">
                                                <li class="nav-item active">
                                                    <a class="nav-link" href="index.html">Home</a>
                                                    <ul class="sub-menu">
                                                        <li><a class="nav-link" href="index.html#about-us">Sobre Nós </a></li>
                                                        <li><a class="nav-link" href="index.html#portfolio">Galeria </a></li>
                                                        <li><a class="nav-link" href="index.html#testimonials">Testemunhos </a>
                                                        </li>
                                                        <li><a class="nav-link" href="index.html#overview">Overview </a></li>
                                                        <li><a class="nav-link" href="index.html#facilities">Instalações </a>
                                                        </li>
                                                    </ul>
        
                                                </li>
        
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/portfolio">Portfólio </a>
        
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="index.html#services">Serviços </a>
        
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="index.html#pricing">Preços </a>
                                                </li>
        
        
                                                <li class="nav-item">
                                                    <a class="nav-link">Social</a>
                                                    <ul class="sub-menu">
                                                        <li><a
                                                                href="https://www.instagram.com/drivecleandetalheauto/">Instagram</a>
                                                        </li>
                                                        <li><a
                                                                href="https://www.facebook.com/drivecleandetalheautomovel/">Facebook</a>
                                                        </li>
                                                        <li><a
                                                                href="https://www.youtube.com/channel/UCorWTRmavwd-Lff5rEWvYfQ?app=desktop">Youtube</a>
                                                        </li>
                                                        <li><a href="https://www.tiktok.com/@drivecleandetalheauto">TikTok</a>
                                                        </li>
                                                    </ul>
        
                                                </li>
        
                                            </ul>
                                        </div> <!-- navbar collapse -->
        
                                        <div class="navbar-btn d-none d-sm-block">
                                            <a class="main-btn" href="tel:{{ site.data.header.default_contact }}">{{ site.data.header.contact }}</a>
                                        </div>
                                    </nav>
                                </div> <!-- navigation -->
                    </div>
                </div> <!-- row -->
            </div>
        </div>
    </header>

    <!--====== HEADER PART ENDS ======-->

    <!--====== PAGE TITLE  PART START ======-->

    <div class="page-title-area page-title-2-area">
        <div class="section__bg" style="background-image: url({{ page.image }})"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="page-title-content page-title-content-2 text-center">
                        <h3 class="title">{{ page.title }}</h3>
                        <nav class="pb-15" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a
                                        href="../portfolio">Portfólio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                            </ol>
                        </nav>
                        <div class="scroll-to-down">
                            <a href="#"><i class="fal fa-arrow-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PAGE TITLE  PART ENDS ======-->

    <!--====== SINGLE POST PART START ======-->

    <section class="single-post-area pt-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="single-post-content mt-30">
                        <div class="single-post-topbar">
                            <ul>
                                <li><img src="/assets/images/icon/post-icon-1.png" alt=""> {{ page.date | date: "%d"
                                    }}
                                    {% assign m = page.date | date: "%-m" %}
                                    {% case m %}
                                    {% when '1' %}JAN
                                    {% when '2' %}FEV
                                    {% when '3' %}MAR
                                    {% when '4' %}ABR
                                    {% when '5' %}MAI
                                    {% when '6' %}JUN
                                    {% when '7' %}JUL
                                    {% when '8' %}AGO
                                    {% when '9' %}SET
                                    {% when '10' %}OUT
                                    {% when '11' %}NOV
                                    {% when '12' %}DEZ
                                    {% endcase %}
                                    {{ page.date | date: "%Y" }}
                                </li>
                                <li><img src="/assets/images/icon/post-icon-2.png" alt="">
                                    {% for tag in page.tags limit: 3 %}
                                    {%if forloop.last%}
                                    {% if page.tags.size > 3 %}
                                    {{tag}}...
                                    {% else %}
                                    {{tag}}
                                    {% endif %}
                                    {% else %}
                                    {{tag}},
                                    {% endif %}
                                    {% endfor %}

                                </li>
                            </ul>
                            <div class="social">
                                <ul>
                                    <li><a href="https://twitter.com/intent/tweet?text=Awesome%20Blog!&url={{site.url}}{{ page.url }}"
                                            target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{ page.url }}"
                                            target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://wa.me/?text={{site.url}}{{ page.url }}"><i
                                                class="fab fa-whatsapp"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-content">

                            {{ content }}

                        </div>
                        <div class="post-next">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    {% if page.previous.url %}
                                    <div class="prev-post">
                                        <span>ANTERIOR</span>
                                        <a href="{{page.previous.url}}">
                                            <p>{{page.previous.title}}</p>
                                            <div class="content">{{ page.previous.excerpt | strip_newlines | truncate:
                                                100 }}</div>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    {% if page.next.url %}
                                    <div class="prev-post">
                                        <span>PROXIMO</span>
                                        <a href="{{page.next.url}}">
                                            <p>{{page.next.title}}</p>
                                            <div class="content">{{ page.next.excerpt | strip_newlines | truncate: 100
                                                }}</div>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-post-sidebar mt-30">
                        <div class="sidebar-categories mt-30">
                            <h4 class="title">Tags</h4>
                            <ul>

                                {% for tag in site.tags %}
                                {% assign tagcounter= site.posts | where_exp: "item", "item.tags contains tag.title" %}

                                <li><a href="{{tag.url}}"><img src="/assets/images/pricing-arrow.png" alt="">
                                        {{tag.title | upcase}} ({{ tagcounter | size}})
                                        <span><img src="/assets/images/icon/hero-icon-2.png" alt=""></span></a></li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="sidebar-post mt-30">
                            <h4 class="title">Artigos recentes</h4>
                            <div class="post-items">

                                {% for post in site.posts limit:6 %}
                                <div class="item mt-30">
                                    <div class="thumb">
                                        <img src="{{ post.image }}" alt="">
                                    </div>
                                    <div class="content">
                                        <a href="{{ post.url }}">
                                            <h5 class="title">{{ post.title }}</h5>
                                        </a>
                                        <span>{{ post.date | date: "%-d" }} de
                                            {% assign m = post.date | date: "%-m" %}
                                            {% case m %}
                                            {% when '1' %}janeiro
                                            {% when '2' %}fevereiro
                                            {% when '3' %}março
                                            {% when '4' %}abril
                                            {% when '5' %}maio
                                            {% when '6' %}junho
                                            {% when '7' %}julho
                                            {% when '8' %}agosto
                                            {% when '9' %}setembro
                                            {% when '10' %}outubro
                                            {% when '11' %}novembro
                                            {% when '12' %}dezembro
                                            {% endcase %}, {{ post.date | date: "%-Y" }}</span>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="sidebar-newsletter">
                            <div class="footer-newsletter-item mt-60">
                                <div class="dot">
                                    <img src="/assets/images/icon/footer-newsletter-dot.png" alt="">
                                </div>
                                <h3 class="title">Subscreve a nossa newsletter para estares a par de todas as novidades
                                    e promoções da Driveclean!</h3>
                                <form action="#">
                                    <div class="input-box">
                                        <input type="text" placeholder="Email">
                                        <button class="main-btn-3" type="button">Subscrever</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== SINGLE POST PART ENDS ======-->



    <!--====== FOOTER PART START ======-->

    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-top d-block d-sm-flex  justify-content-between align-items-center">
                        <div class="footer-logo">
                            <a href="/index.html"><img src="/assets/images/logo.png" alt="Logo"></a>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.facebook.com/drivecleandetalheautomovel/"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCorWTRmavwd-Lff5rEWvYfQ?app=desktop"><i
                                            class="fab fa-youtube"></i></a></li>
                                <li><a href="https://www.instagram.com/drivecleandetalheauto/"><i
                                            class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.tiktok.com/@drivecleandetalheauto"><svg
                                            style="height: 1.1rem; fill: #fff; padding-bottom: 5px;"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                            <path
                                                d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z" />
                                        </svg></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-item">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-about mt-30">
                            <h4 class="title">Driveclean </h4>
                            <p>{{ site.data.footer.description }}</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-list mt-30 ml-95">
                            <h4 class="title">links</h4>
                            <ul>
                                <li><a href="/index.html">HOME</a></li>
                                <li><a href="/index.html#about-us">Sobre nós</a></li>
                                <li><a href="/index.html#services">Serviços</a></li>
                                <li><a href="/index.html#portfolio">Portfólio</a></li>
                                <li><a href="/index.html#testimonials">Testemunhos</a></li>
                                <li><a href="/index.html#overview">Overview</a></li>
                                <li><a href="/index.html#facilities">Instalações</a></li>
                                <li><a href="/index.html#pricing">Planos</a></li>
                                <li><a href="/contact.html">Contactar</a></li>
                                <li><a href="#" id="open_preferences_center">Update cookies preferences</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">

                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info mt-30">
                            <h3 class="title">Contactos</h3>
                            <ul>
                                <li><i class="fal fa-map-marker-alt"></i>{{ site.data.footer.adress }}</li>
                                <li><i class="fal fa-phone"></i>{{ site.data.footer.mobile_number }}</li>
                                <li><i class="fal fa-phone-office"></i>{{ site.data.footer.office_number }}</li>
                                <li><i class="fal fa-envelope"></i>
                                    {{ site.data.footer.email }} </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright">
                        <p>Copyright @
                            <script>document.write(new Date().getFullYear())</script>. Design by Squarebug
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TO TOP START ======-->

    <a class="back-to-top">
        <i class="fal fa-angle-up"></i>
    </a>

    <!--====== BACK TO TOP ENDS ======-->








    <!--====== jquery js ======-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>

    <!--====== appear js ======-->
    <script src="/assets/js/jquery.appear.min.js"></script>

    <!--====== Slick js ======-->
    <script src="/assets/js/slick.min.js"></script>

    <!--====== wow js ======-->
    <script src="/assets/js/wow.js"></script>

    <!--====== Isotope js ======-->
    <script src="/assets/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="/assets/js/main.js"></script>

</body>

</html>