<!DOCTYPE html>
<html lang="en">

<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Blog | Driveclean | Empresa de Detalhe Automóvel</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/../assets/images/favicon.ico" type="image/png">
    <link rel="apple-touch-icon" href="/../assets/images/favicon.png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/../assets/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/../assets/css/font-awesome.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/../assets/css/magnific-popup.css">

    <!--====== animate css ======-->
    <link rel="stylesheet" href="/../assets/css/animate.min.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/../assets/css/slick.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="/../assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/../assets/css/style.css">

</head>

<body>
    {{ page.title }}
    {{ page.description }}

    {% assign filteredposts = site.posts | where_exp: "item", "item.tags contains page.title" %}
{% for post in filteredposts limit:5 %}
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="article-item mt-30">
                        <div class="article-top text-center">
                            <a href="{{ post.url }}"><span>{{ post.title }}</span></a>
                        </div>
                        <div class="article-thumb">
                            <a href="{{ post.url }}"><img src="{{ post.image }}" alt=""></a>
                            <div class="date">
                                <h5 class="title">{{ post.date | date: "%-d" }}</h5>
                                <span>{% assign m = post.date | date: "%-m" %}
                                    {% case m %}
                                    {% when '1' %}JAN
                                    {% when '2' %}FEV
                                    {% when '3' %}MAR
                                    {% when '4' %}ABR
                                    {% when '5' %}MAI
                                    {% when '6' %}JUN
                                    {% when '7' %}JUL
                                    {% when '8' %}AGO
                                    {% when '9' %}SET
                                    {% when '10' %}OUT
                                    {% when '11' %}NOV
                                    {% when '12' %}DEZ
                                    {% endcase %}</span>
                            </div>
                        </div>
                        <div class="article-content pl-25 pr-25 pt-25">
                            {{post.tags}}
                            <p>{{ post.excerpt | strip_newlines | truncate: 120 }}
                            </p>
                            <a href="{{ post.url }}">LER MAIS</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
</body>

</html>